# Entorno virtual
venv/
env/
ENV/

# Base de datos
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Variables de entorno
.env
.env.local

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db